<ion-header>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item class="ion-no-padding" *ngFor="let class of classes">
        <ion-row class="ion-justify-content-between">
          <ion-label style="padding-top: 1rem; padding-left: 1rem;">{{class.id}}</ion-label>
          <ion-buttons class="b-action">
            <ion-button class="alert-wrapper" (click)="deleteUserAlertButtons()">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
