<ion-content id="cam-container">
  <ion-card>
    <div *ngIf="!(errors?.length > 0) && showWebcam">
      <webcam
        [height]="500"
        [width]="windowWidth > 500 ? 500 : windowWidth - 10"
        [trigger]="triggerObservable"
        (imageCapture)="handleImage($event)"
        [allowCameraSwitch]="allowCameraSwitch"
        [switchCamera]="nextWebcamObservable"
        [videoOptions]="videoOptions"
        [imageQuality]="1"
        (cameraSwitched)="cameraWasSwitched($event)"
        (initError)="handleInitError($event)"
      ></webcam>
    </div>
    <img
      alt=""
      *ngIf="errors?.length > 0 || !showWebcam"
      src="assets/icon/webcam.svg"
      id="image-icon"
    />
    <ion-card-header *ngIf="showWebcam">
      <ion-card-title>Webcam</ion-card-title>
      <ion-card-subtitle>
        In order to be considered present, the app should detect your face. If
        it doesn't, consider getting closer to the camera or change your
        position, if none of these works try changing your account profile
        picture.
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-header *ngIf="errors?.length > 0 || !showWebcam">
      <ion-card-title>Webcam</ion-card-title>
      <ion-card-subtitle>
        Activate your webcam in order to take a snapshot.
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-header>
      <ion-card-title *ngIf="isImageValid" color="primary">
        The app is recognizing your face, you're considered present at the
        moment.
      </ion-card-title>
      <ion-card-title *ngIf="!isImageValid" color="danger">
        The app is not recognizing your face, you're considered absent.
      </ion-card-title>
    </ion-card-header>
    <ion-item class="ion-activated">
      <ion-button (click)="toggleWebcam()" color="danger">
        Toggle Webcam
      </ion-button>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-button
        [disabled]="!showWebcam"
        (click)="showNextWebcam(deviceId)"
        color="primary"
      >
        Activate
      </ion-button>
      <ion-button
        (click)="showNextWebcam(true)"
        color="primary"
        [disabled]="!multipleWebcamsAvailable"
      >
        Next Webcam
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start" [(ngModel)]="allowCameraSwitch">
      </ion-checkbox>
      <ion-label> Allow Camera Switch</ion-label>
    </ion-item>
    <ion-card-content>
      Camera ID (for debuging) : {{ deviceId ? deviceId : 'not found' }}
      <h4 *ngIf="errors.length > 0">Errors :</h4>
      <ul *ngFor="let error of errors">
        <li>Message : {{ error?.message }}</li>
        <li>Media Stream Error : {{ error?.mediaStreamError | json }}</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
