.container {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: inline;
  width: 50vh;
  max-width: 400px;
  margin: auto;
}
