.profile-card {
  width: 95%;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;

}
ion-label{
  padding-top: 1.4rem;
}

.header {
  height:8rem; // 20vh;
 
}
.avatar {
  width: 8rem; //40vw
  height: 8rem;
  position: relative;
  margin: 0 auto;
  margin-right: 3rem;
  margin-bottom: 6rem;

}
img {
  display: block;
  border-radius: 50%;
  position: absolute;
  bottom: calc(-1 * (80px + 4px)); // -42px;
  border: 8px;
  background-color: #fff;
}

.card-body {
  background-color: #ffffff;
  padding: 4.5rem;
  height: calc(100vh - (200px + 56px));
  overflow: hidden;
}