<div fullscreen="true" slot="fixed">
  <ion-card class="profile-card"
    ><div class="card">
      <div class="avatar">
        <img src="assets/icon/avatar.png" alt="" />
      </div>
    </div>
    <ion-item>
      <ion-label>{{user.id}}</ion-label>
    </ion-item>
    <ion-item> <ion-label>{{user.username}}</ion-label> </ion-item>
    <ion-item>
      <ion-label>{{user.email}}</ion-label>
    </ion-item>
    <ion-button
      type="button"
      expand="block"
      color="medium"
      fill="clear"
      class="ion-margin-top"
      routerLink="/update"
    >
      Edit Profile
    </ion-button>
  </ion-card>
</div>
