#small-logo {
  width: 5%;
  margin-left: 1rem;
}
.card-title {
  text-align: center;
  padding-top: 1.5rem;
  font-size: 2.5rem;
  text-transform: c;
}
.profile-card {
  width: 50%;
  height: 110%;
  display: block;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.avatar {
  width: 10rem; //40vw
  height: 10rem;
  position: relative;
  margin: 0 auto;
  margin-top: -2.1rem;
}
img {
  display: block;
  border-radius: 50%;
  position: absolute;
  bottom: calc(-1 * (80px + 4px)); // -42px;
  border: 8px;
  background-color: #fff;
}

.card-body {
  background-color: #ffffff;
  padding: 4.5rem;
  height: calc(100vh - (200px + 56px));
  overflow: hidden;
}
.user-meta {
  padding-top: 40px;

}
.name {
  font-size: 1rem;
  //font-weight: 600;
  color: #949ea6;
  text-align: center;
}

.email {
  font-size: 1rem;
  color: #949ea6;
  text-align: center;

}
