.card,
.container {
  padding: 2rem;
}
.card {
  display: flex;
  justify-content: space-around;
  justify-items: center;
}
.upload-icon {
  position: absolute;
  z-index: 999;
  width: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s;
}
.avatar {
  position: relative;
  max-width: 20rem;
  max-height: 20rem;
  width: 70%;
  height: 70%;
  position: relative;
  transition: filter 0.2s;
  margin: auto;
  margin-bottom: 2rem;

  &:hover {
    filter: grayscale(50%);
    cursor: pointer;
    & .upload-icon {
      opacity: 1;
      &:hover {
        cursor: pointer;
      }
    }
  }
  img {
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
  }
}
.send-button {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.form {
  width: 70%;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 1400px) {
  .card {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
  }
  .form {
    width: 100%;
  }
}
