#small-logo {
  width: 5%;
  margin-left: 1rem;
}
ion-content {
  width: 100%;
}

form {
  max-width: 600px;
  margin: auto;
}
.card-title {
  text-align: center;
  padding-top: 1.5rem;
  font-size: 2.3rem;
  text-transform: capitalize;
}
.profile-card {
  width: 50%;
  height: 110%;
  display: block;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.avatar {
  width: 10rem; //40vw
  height: 10rem;
  position: relative;
  margin: 0 auto;
  margin-top: -2rem;
}
img {
  display: block;
  border-radius: 50%;
  position: absolute;
  bottom: calc(-1 * (80px + 4px)); // -42px;
  border: 8px;
  background-color: #fff;
}

.card-body {
  background-color: #ffffff;
  padding: 30px;
  height: calc(100vh - (200px + 56px));
  overflow: hidden;
}
.input-group {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 3rem;
  margin-top: 5.1rem;

}

.errors {
  font-size: small;
  color: #fff;
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}


ion-button {
  margin-left: 0;
  margin-right: 0;

}

