<ion-header>
  <ion-toolbar color="gray">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="assets/icon/logo_transparent.png" id="big-logo"></ion-img>
  <form
    (ngSubmit)="login()"
    [formGroup]="credentials"
    (keyup.enter)="login()"
    autocomplete="off"
  >
    <div class="input-group">
      <ion-item>
        <ion-input
          type="new-password"
          placeholder="Username"
          formControlName="username"
        ></ion-input>
      </ion-item>
      <div
        *ngIf="(username.dirty || username.touched) && username.errors"
        class="errors"
      >
        <span *ngIf="username.errors?.required">Username is required</span>
      </div>
      <ion-item>
        <ion-input
          type="password"
          placeholder="Password"
          formControlName="password"
        ></ion-input>
      </ion-item>
      <div
        *ngIf="(password.dirty || password.touched) && password.errors"
        class="errors"
      >
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength"
          >Password needs to be 6 characters</span
        >
      </div>
    </div>

    <ion-button type="submit" expand="block" [disabled]="!credentials.valid"
      >Log in</ion-button
    >
    <ion-button
      type="button"
      expand="block"
      color="medium"
      fill="clear"
      class="ion-margin-top"
      routerLink="/signup"
    >
      Not yet a member? Sign up!
    </ion-button>
  </form>
</ion-content>
