<div style="height: 100%; margin-bottom: 60px">
  <div id="top-nav-bar">
    <ion-segment-button (click)="switchPage('home')">
      Class
    </ion-segment-button>
    <ion-segment-button (click)="switchPage('sessions')">
      Sessions
    </ion-segment-button>
    <ion-segment-button (click)="switchPage('students')">
      Students
    </ion-segment-button>
  </div>
  <div style="height: 100%">
    <app-main [id]="id" *ngIf="page === 'home'"></app-main>
    <app-students [id]="id" *ngIf="page === 'students'"></app-students>
    <app-sessions [id]="id" *ngIf="page === 'sessions'"></app-sessions>
  </div>
</div>
