<div>
  <div id="top-nav-bar">
    <ion-segment-button value="call" (click)="switchPage('home')">
      Class
    </ion-segment-button>
    <ion-segment-button value="call" (click)="switchPage('sessions')">
      Sessions
    </ion-segment-button>
    <ion-segment-button value="call" (click)="switchPage('students')">
      Students
    </ion-segment-button>
    <ion-segment-button value="call" (click)="switchPage('statistics')">
      Statistics
    </ion-segment-button>
  </div>
  <div>
    <app-main [id]="id" *ngIf="page === 'home'"></app-main>
    <app-students [id]="id" *ngIf="page === 'students'"></app-students>
    <app-statistics *ngIf="page === 'statistics'"></app-statistics>
    <app-sessions [id]="id" *ngIf="page === 'sessions'"></app-sessions>
  </div>
</div>
