<div *ngIf="isLoaded" id="container">
  <h1 *ngIf="students?.length > 0 || requests?.length > 0">Requests</h1>
  <ion-card *ngIf="requests?.length > 0">
    <ion-list>
      <ion-item class="ion-no-padding">
        <div class="list-row">
          <ion-label class="item-col-label">Username</ion-label>
          <ion-label class="item-col-label">Email</ion-label>
          <ion-label class="item-col-label">Actions</ion-label>
        </div>
      </ion-item>
      <ion-item class="ion-no-padding" *ngFor="let request of requests">
        <div class="list-row">
          <span class="item-col"> {{ request.username }} </span>
          <span class="item-col">
            <span class="truncate">{{ request.email }}</span>
          </span>
          <ion-buttons class="item-col">
            <ion-button (click)="rejectJoinRequest(request.id)">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="approveJoinRequest(request.id)">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
  <div *ngIf="!requests?.length && students?.length > 0" class="nothing">
    <img src="assets/icon/woman.svg" class="nothing-icon" alt="" />
    <h3 style="text-align: center; font-weight: 100">
      There are no requests currently.
    </h3>
  </div>
  <h1 *ngIf="students?.length > 0 || requests?.length > 0">Students</h1>
  <ion-card *ngIf="students?.length > 0">
    <ion-list>
      <ion-item class="ion-no-padding">
        <div class="list-row">
          <ion-label class="item-col-label">Username</ion-label>
          <ion-label class="item-col-label">Email</ion-label>
          <ion-label class="item-col-label">Actions</ion-label>
        </div>
      </ion-item>
      <ion-item class="ion-no-padding" *ngFor="let student of students">
        <div class="list-row">
          <span class="item-col">{{ student.username }}</span>
          <span class="item-col">
            <span class="truncate">{{ student.email }}</span>
          </span>
          <ion-buttons class="item-col">
            <ion-button (click)="removeUserModal(student.id)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
  <div *ngIf="!students?.length && requests?.length > 0" class="nothing">
    <img src="assets/icon/woman.svg" class="nothing-icon" alt="" />
    <h3 style="text-align: center; font-weight: 100">
      There are no students in this class yet.
    </h3>
  </div>
  <div *ngIf="!students?.length && !requests?.length" class="nothing">
    <img src="assets/icon/woman.svg" class="nothing-icon-big" alt="" />
    <h3 style="text-align: center; font-weight: 100">
      There are no students/requests yet.
    </h3>
  </div>
</div>
