// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 99999s;
  transition-delay: 99999s;
  font-size: 40px;
}

@keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

ion-button {
  --border-radius: 0;
}
ion-item:last-child {
  --inner-border-width: 0 0 0 0;
  background-color: red;
}
.list-md {
  padding-top: 0px;
  padding-bottom: 0px;
}

:root {
  --ion-color-danger: #ff7777;
  --ion-color-danger-rgb: 255, 128, 128;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #e07171;
  --ion-color-danger-tint: #ff8d8d;
}

.ion-color-danger {
  --ion-color-base: var(--ion-color-danger);
  --ion-color-base-rgb: var(--ion-color-danger-rgb);
  --ion-color-contrast: var(--ion-color-danger-contrast);
  --ion-color-contrast-rgb: var(--ion-color-danger-contrast-rgb);
  --ion-color-shade: var(--ion-color-danger-shade);
  --ion-color-tint: var(--ion-color-danger-tint);
}

:root {
  --ion-color-success: #5dfeb0;
  --ion-color-success-rgb: 93, 254, 176;
  --ion-color-success-contrast: #494949;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #52e09b;
  --ion-color-success-tint: #9fffb4;
}

.ion-color-success {
  --ion-color-base: var(--ion-color-success);
  --ion-color-base-rgb: var(--ion-color-success-rgb);
  --ion-color-contrast: var(--ion-color-success-contrast);
  --ion-color-contrast-rgb: var(--ion-color-success-contrast-rgb);
  --ion-color-shade: var(--ion-color-success-shade);
  --ion-color-tint: var(--ion-color-success-tint);
}

:root {
  --ion-color-leaf: #a7eddf;
  --ion-color-leaf-rgb: 167, 237, 223;
  --ion-color-leaf-contrast: #494949;
  --ion-color-leaf-contrast-rgb: 0, 0, 0;
  --ion-color-leaf-shade: #93d1c4;
  --ion-color-leaf-tint: #b0efe2;
}

.ion-color-leaf {
  --ion-color-base: var(--ion-color-leaf);
  --ion-color-base-rgb: var(--ion-color-leaf-rgb);
  --ion-color-contrast: var(--ion-color-leaf-contrast);
  --ion-color-contrast-rgb: var(--ion-color-leaf-contrast-rgb);
  --ion-color-shade: var(--ion-color-leaf-shade);
  --ion-color-tint: var(--ion-color-leaf-tint);
}

:root {
  --ion-color-cornflower: #98beec;
  --ion-color-cornflower-rgb: 152, 190, 236;
  --ion-color-cornflower-contrast: #000000;
  --ion-color-cornflower-contrast-rgb: 0, 0, 0;
  --ion-color-cornflower-shade: #86a7d0;
  --ion-color-cornflower-tint: #a2c5ee;
}

.ion-color-cornflower {
  --ion-color-base: var(--ion-color-cornflower);
  --ion-color-base-rgb: var(--ion-color-cornflower-rgb);
  --ion-color-contrast: var(--ion-color-cornflower-contrast);
  --ion-color-contrast-rgb: var(--ion-color-cornflower-contrast-rgb);
  --ion-color-shade: var(--ion-color-cornflower-shade);
  --ion-color-tint: var(--ion-color-cornflower-tint);
}

:root {
  --ion-color-lavender: #a28bdb;
  --ion-color-lavender-rgb: 162, 139, 219;
  --ion-color-lavender-contrast: #000000;
  --ion-color-lavender-contrast-rgb: 0, 0, 0;
  --ion-color-lavender-shade: #8f7ac1;
  --ion-color-lavender-tint: #ab97df;
}

.ion-color-lavender {
  --ion-color-base: var(--ion-color-lavender);
  --ion-color-base-rgb: var(--ion-color-lavender-rgb);
  --ion-color-contrast: var(--ion-color-lavender-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lavender-contrast-rgb);
  --ion-color-shade: var(--ion-color-lavender-shade);
  --ion-color-tint: var(--ion-color-lavender-tint);
}

:root {
  --ion-color-gray: #ededed;
  --ion-color-gray-rgb: 237, 237, 237;
  --ion-color-gray-contrast: #000000;
  --ion-color-gray-contrast-rgb: 0, 0, 0;
  --ion-color-gray-shade: #d1d1d1;
  --ion-color-gray-tint: #efefef;
}

.ion-color-gray {
  --ion-color-base: var(--ion-color-gray);
  --ion-color-base-rgb: var(--ion-color-gray-rgb);
  --ion-color-contrast: var(--ion-color-gray-contrast);
  --ion-color-contrast-rgb: var(--ion-color-gray-contrast-rgb);
  --ion-color-shade: var(--ion-color-gray-shade);
  --ion-color-tint: var(--ion-color-gray-tint);
}
