<ion-header>
  <ion-toolbar class="bar" color="gray">
    <ion-row class="ion-justify-content-between">
      <ion-img src="assets/icon/logo_tran.png" id="small-logo"></ion-img>
      <ion-buttons>
        <ion-button style="height: 65%" routerLink="/profile"
          ><ion-icon name="person-circle-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button
          style="margin-right: 2rem; font-size: 120%"
          routerLink="/add"
        >
          <ion-icon name="add-outline"></ion-icon></ion-button
      ></ion-buttons>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <ion-item class="myItem">
      <ion-label style="margin-right: 1rem">Classes</ion-label>
      <ion-label style="text-align: end; margin-right: 21px">Action</ion-label>
    </ion-item> -->

    <ion-item *ngFor="let class of classes">
      <ion-card class="class-card">
        <ion-row class="ion-justify-content-between">
          <ion-label>{{class.id}}</ion-label>
          <ion-buttons class="b-action">
            <ion-button routerLink="/class">
              <ion-icon name="open-outline" slot="icon-only"> </ion-icon>
            </ion-button>
            <ion-button class="alert-wrapper" (click)="deleteClassAlertButtons()">
              <ion-icon class="ion-margin-end" name="trash-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-row>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
